alembic
Flask==1.1.2
flask-marshmallow==0.13.0
Flask-RESTful==0.3.8
marshmallow==3.6.1
marshmallow-sqlalchemy==0.23.1
pytest==5.4.3
SQLAlchemy==1.3.17
psycopg2-binary==2.8.5
flask_sqlalchemy
flask_script
flask_migrate
